header {
    color : white;
    padding-top : 20px;
    font-size : 25px;
}
nav {
    color : white;
    font-size : 15px;
    padding-top : 20px;
}
span {
    padding-left :100px;
    padding-right : 100px;
}
#logout {
    position : fixed;
    width : 60px;
    height : 20px;
    top : 20px;
    right : 20px;
}