@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#pose {
    font-size: 2.5rem;
    padding : 0px;
    font-family: 'Anton', sans-serif;
    padding: 1rem;
}

.ex {
    position: relative;
    width: 90%;
    left: 5%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px gray;
    padding-bottom: 2rem;
    margin-bottom: auto;
    background-color: #f7f7f7;
}

#image {
    width: 500px;
    height: 500px;
    padding: 30px;
}

ol {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 500px;
}
li {
    padding: 0.7rem;
}
#posetext {
    width: 500px;
}

#hello {
    position:absolute;
    width: 600px;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-family: 'Gothic A1', sans-serif;
}

@media ( max-width: 600px ) {
    #hello {
        width: 90%;
    }
    #image {
        width: 90%;
        height: 50%;
    }
    ol {
        width: 90%;
    }
    #posetext {
        width: 90%;
    }
    
}



#next {
    position: absolute;
    bottom: 0;
    right: 10px;
}

#pre {
    position: absolute;
    bottom: 10;
    right: 10px;
}

#setCount {
    padding: 1rem;
    padding-top: 4rem;
    text-align: center;
}

#inputCount {
   margin: auto;
   text-align: left;
}

td {
    padding: 0.5rem;
}

#showExer {
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
    transition-property: background-color;
    /*변형 완료 1초*/
    transition-duration: 0.2s;
    /*빠른 시작 서서히 감속*/
    transition-timing-function: ease-out;
}

.inputBox {
    width : 150px;
}
.inputBox:focus { 
    outline: 0 none;
    border-color: #d7dbe0;
    border-radius: 3px;
}

.inputBox::placeholder {
    color: #e3e3e3;
}

    
    /*hover시 있을 변형을 입력합니다*/
    #showExer:hover {
    
    /*rgb컬러a알파 0~1까지 화이트 0.3만큼 알파 혹은 반투명*/
    background-color: #e3e3e3;
    /* 변형할 것은 배경 1초, 빠른 시작 서서히 감속*/
    transition: background 0.2s ease-out;
    }

.inputWrapper {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px gray;
    background-color: #f7f7f7;
}

.recomend {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 3.5rem;
    width: 90%;
    transform:translate(-49%, 0);
    font-size: 0.8rem;
    color: #9c1432;
}

#squat:hover #squEx{
    visibility: visible;
}

#lunge:hover #lunEx{
    visibility: visible;
}

#press:hover #preEx{
    visibility: visible;
}