@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Kalam:wght@700&display=swap');

html, body {
  /*text-align: center;*/
  height: 100%;
}

#root {
  height : 100%;
}
.App {
  height :100%;
  width :100%;
  display : table;
  text-align: center;
}
.main_div {
  display : table-cell;
  vertical-align: middle;
}
.main {
  color :black;
  font-size : 6em;
  font-family: 'Kalam', cursive;
}

.bnt_div {
  margin-top : 20px;
  display : inline-block;
  text-align: center;
}

.signin {
  color : white;
}

.signup {
  color : white;
}